@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansjp/v42/-F6pfjtqLzI2JPCgQBnw7HFQaioq1A.otf) format('opentype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'pokemonClassic';
  src: url("/resources/fonts/PokemonClassic.ttf");
  font-weight: normal;
  font-style: normal;
}
.shadowed {
  box-shadow: 0.2rem 0.2rem 0.5rem #a6a2a2;
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: 'Poppins', sans-serif;
}
header {
  height: 10vh;
  background-color: #FF1B1C;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header nav .bag-container {
  position: absolute;
  width: 2em;
  right: 2em;
}
header nav .bag-container .pokemon-count {
  position: absolute;
  width: 20px;
  right: 2.5em;
  text-align: center;
  background-color: white;
  border-radius: 0.5em;
}
header nav .bag-container .pokemon-count p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
}
header nav .bag-container .bag-img {
  width: 100%;
  transition: transform 0.15s ease-in;
}
header nav .bag-container .bag-img:hover {
  transform: scale(110%);
}
header nav .go-home {
  position: absolute;
  width: 2em;
  right: 2em;
}
header nav .go-home .pokeball-img {
  width: 100%;
  transition: transform 0.15s ease-in;
}
header nav .go-home .pokeball-img:hover {
  transform: scale(110%);
}
header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  transition: transform 0.15s ease-in;
}
header nav .logo a {
  display: flex;
}
header nav .logo:hover {
  transform: scale(110%);
}
header nav > h1 {
  font-family: 'pokemonClassic', sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #FFFFFF;
}
header nav .menu-desktop {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}
header nav .menu-desktop .menu-desktop_choose .choose_ul {
  display: none;
}
main {
  height: 80vh;
  background-color: #e6e6e6;
}
main .cards-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
main .cards-container .card {
  height: 90%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main .cards-container .card article {
  position: relative;
  height: 80%;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 70% 20%;
  transition: transform 0.15s ease-in;
  overflow: auto;
  box-shadow: 0.2rem 0.2rem 0.5rem #a6a2a2;
}
main .cards-container .card article:hover {
  transform: scale(102%);
}
main .cards-container .card article:hover .img-pokemon {
  transform: scale(120%);
}
main .cards-container .card article .banner {
  width: 100%;
  height: 100%;
  background-color: #FF1B1C;
  border-radius: 1rem 1rem 0 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .cards-container .card article .banner .name {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  z-index: 2;
}
main .cards-container .card article .banner .name #name-h2 {
  color: #FFFFFF;
  font-size: 1em;
  margin-right: 0.7em;
  font-family: 'pokemonClassic', sans-serif;
}
main .cards-container .card article .banner .name .type {
  padding-top: 0.3em;
}
main .cards-container .card article .banner .name .type.fire {
  background-color: white;
}
main .cards-container .card article .img-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
main .cards-container .card article .img-container .img-pokemon {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform 0.15s ease-in;
}
main .cards-container .card article .stats {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #e6e6e6;
  border-radius: 0 0 1rem 1rem;
  padding: 10px;
  font-size: 0.8em;
}
main .cards-container .card button {
  height: 3em;
  width: 50%;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background-color: #FFFFFF;
  font-family: 'pokemonClassic', sans-serif;
  transition: all 0.1s ease-in;
}
main .cards-container .card button:hover {
  background-color: #FF1B1C;
  color: #FFFFFF;
}
main .cards-container .card.fire .banner,
main .cards-container .card.fire button:hover {
  background-color: #FF1B1C;
}
main .cards-container .card.water .banner,
main .cards-container .card.water button:hover {
  background-color: #38bace;
}
main .cards-container .card.grass .banner,
main .cards-container .card.grass button:hover {
  background-color: #7fe660;
}
main .cards-container .card.bug .banner,
main .cards-container .card.bug button:hover {
  background-color: #d4a633;
}
main .cards-container .card.dragon .banner,
main .cards-container .card.dragon button:hover {
  background-color: #f69636;
}
main .cards-container .card.electric .banner,
main .cards-container .card.electric button:hover {
  background-color: #fbe330;
}
main .cards-container .card.fighting .banner,
main .cards-container .card.fighting button:hover {
  background-color: #987a56;
}
main .cards-container .card.ghost .banner,
main .cards-container .card.ghost button:hover {
  background-color: #5e5e5e;
}
main .cards-container .card.ground .banner,
main .cards-container .card.ground button:hover {
  background-color: #563c22;
}
main .cards-container .card.ice .name > #name-h2,
main .cards-container .card.ice .name > p {
  color: black;
}
main .cards-container .card.ice .banner,
main .cards-container .card.ice button:hover {
  background: linear-gradient(90deg, #58c6dd 0%, #ffffff 50%, #58c6dd 100%);
}
main .cards-container .card.normal .banner,
main .cards-container .card.normal button:hover {
  background-color: #c0c0c0;
}
main .cards-container .card.poison .banner,
main .cards-container .card.poison button:hover {
  background-color: #910b66;
}
main .cards-container .card.psychic .banner,
main .cards-container .card.psychic button:hover {
  background-color: #f93fe1;
}
main .cards-container .card.rock .banner,
main .cards-container .card.rock button:hover {
  background-color: #533815;
}
main .cards-container .card.fairy .banner,
main .cards-container .card.fairy button:hover {
  background-color: #be0d5a;
}
main .cards-container .empty-bag-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .cards-container .empty-bag-container .empty-bag-text {
  text-align: right;
}
main .cards-container .empty-bag-container .empty-bag-text a {
  font-family: 'pokemonClassic', sans-serif;
  color: #FF1B1C;
}
main .cards-container .empty-bag-container .missingno {
  width: 20%;
  filter: grayscale(1);
  transition: transform 0.15s ease;
}
main .cards-container .empty-bag-container .missingno:hover {
  transform: scale(110%);
  transform: rotate(8deg);
}
main .cards-container .spin {
  position: absolute;
  margin: auto;
  animation: grow 1s ease-out infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  from {
    transform: scale(90%);
  }
  to {
    transform: scale(105%);
  }
}
main .cards-container .spin img {
  width: 4em;
  animation: spin 1s linear infinite;
}
main .cards-container-chosen {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}
main .cards-container-chosen .card-chosen {
  height: 13.3vh;
  width: 100%;
  background-color: aquamarine;
  display: block;
}
main .cards-container-chosen .card-chosen article {
  display: grid;
  grid-template-columns: 60% 10% 20% 10%;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  outline: 1px solid lightgray;
}
main .cards-container-chosen .card-chosen article .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
}
main .cards-container-chosen .card-chosen article .name #name-h2 {
  color: black;
  font-size: 1em;
  font-family: 'pokemonClassic', sans-serif;
}
main .cards-container-chosen .card-chosen article .name .type {
  padding-top: 0.3em;
}
main .cards-container-chosen .card-chosen article .name .type.fire {
  background-color: white;
}
main .cards-container-chosen .card-chosen article .img-container {
  position: relative;
  text-align: center;
}
main .cards-container-chosen .card-chosen article .img-container-bg {
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
}
main .cards-container-chosen .card-chosen article .img-container .img-pokemon {
  position: inherit;
  z-index: 100;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
main .cards-container-chosen .card-chosen article .stats {
  align-self: center;
  text-align: center;
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #e6e6e6;
  border-radius: 1rem;
  padding: 10px;
  font-size: 0.8em;
}
main .cards-container-chosen .card-chosen article .stats h3 {
  text-align: left;
  padding-left: 30%;
}
main .cards-container-chosen .card-chosen button {
  align-self: center;
  justify-self: center;
  height: 3em;
  width: 90%;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background-color: #FFFFFF;
  font-family: 'pokemonClassic', sans-serif;
  transition: all 0.1s ease-in;
}
main .cards-container-chosen .card-chosen button:hover {
  background-color: #FF1B1C;
  color: #FFFFFF;
}
main .cards-container-chosen .card-chosen.fire .banner,
main .cards-container-chosen .card-chosen.fire button:hover {
  background-color: #FF1B1C;
}
main .cards-container-chosen .card-chosen.water .banner,
main .cards-container-chosen .card-chosen.water button:hover {
  background-color: #38bace;
}
main .cards-container-chosen .card-chosen.grass .banner,
main .cards-container-chosen .card-chosen.grass button:hover {
  background-color: #7fe660;
}
main .cards-container-chosen .card-chosen.bug .banner,
main .cards-container-chosen .card-chosen.bug button:hover {
  background-color: #d4a633;
}
main .cards-container-chosen .card-chosen.dragon .banner,
main .cards-container-chosen .card-chosen.dragon button:hover {
  background-color: #f69636;
}
main .cards-container-chosen .card-chosen.electric .banner,
main .cards-container-chosen .card-chosen.electric button:hover {
  background-color: #fbe330;
}
main .cards-container-chosen .card-chosen.fighting .banner,
main .cards-container-chosen .card-chosen.fighting button:hover {
  background-color: #987a56;
}
main .cards-container-chosen .card-chosen.ghost .banner,
main .cards-container-chosen .card-chosen.ghost button:hover {
  background-color: #5e5e5e;
}
main .cards-container-chosen .card-chosen.ground .banner,
main .cards-container-chosen .card-chosen.ground button:hover {
  background-color: #563c22;
}
main .cards-container-chosen .card-chosen.ice .name > #name-h2,
main .cards-container-chosen .card-chosen.ice .name > p {
  color: black;
}
main .cards-container-chosen .card-chosen.ice .banner,
main .cards-container-chosen .card-chosen.ice button:hover {
  background: linear-gradient(90deg, #58c6dd 0%, #ffffff 50%, #58c6dd 100%);
}
main .cards-container-chosen .card-chosen.normal .banner,
main .cards-container-chosen .card-chosen.normal button:hover {
  background-color: #c0c0c0;
}
main .cards-container-chosen .card-chosen.poison .banner,
main .cards-container-chosen .card-chosen.poison button:hover {
  background-color: #910b66;
}
main .cards-container-chosen .card-chosen.psychic .banner,
main .cards-container-chosen .card-chosen.psychic button:hover {
  background-color: #f93fe1;
}
main .cards-container-chosen .card-chosen.rock .banner,
main .cards-container-chosen .card-chosen.rock button:hover {
  background-color: #533815;
}
main .cards-container-chosen .card-chosen.fairy .banner,
main .cards-container-chosen .card-chosen.fairy button:hover {
  background-color: #be0d5a;
}
main .cards-container-chosen .empty-bag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main .cards-container-chosen .empty-bag-container .empty-bag-text {
  text-align: right;
}
main .cards-container-chosen .empty-bag-container .empty-bag-text a {
  font-family: 'pokemonClassic', sans-serif;
  color: #FF1B1C;
}
main .cards-container-chosen .empty-bag-container .missingno {
  width: 20%;
  filter: grayscale(1);
  transition: transform 0.15s ease;
}
main .cards-container-chosen .empty-bag-container .missingno:hover {
  transform: scale(110%);
  transform: rotate(8deg);
}
main .cards-container-chosen .spin {
  position: absolute;
  margin: auto;
  animation: grow 1s ease-out infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  from {
    transform: scale(90%);
  }
  to {
    transform: scale(105%);
  }
}
main .cards-container-chosen .spin img {
  width: 4em;
  animation: spin 1s linear infinite;
}
footer {
  background-color: #FF1B1C;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
}
footer a {
  width: 18em;
  height: 2em;
  position: absolute;
}
footer .ml11 {
  font-family: 'pokemonClassic', sans-serif;
  font-size: 0.8em;
  display: block;
  line-height: 10vh;
}
footer .ml11 .text-wrapper {
  position: relative;
  display: inline-block;
}
footer .ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
footer .git-icon {
  margin-left: 0.5em;
}
@media (max-width: 1770px) {
  main .cards-container .card {
    width: 30%;
  }
}
@media (max-width: 912px) {
  main .cards-container-chosen .card-chosen article {
    grid-template-columns: 45% 15% 25% 15%;
  }
}
@media (max-width: 820px) {
  main {
    overflow: scroll;
  }
  main .cards-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  main .cards-container .card {
    height: 100%;
    width: 80%;
  }
  main .cards-container .spin {
    position: relative;
  }
  main .cards-container-chosen .card-chosen article {
    grid-template-columns: 45% 15% 25% 15%;
  }
}
@media (max-width: 588px) {
  header nav {
    justify-content: space-around;
  }
  header nav h1 {
    font-size: 0.9em;
    margin-right: 1.1em;
    text-align: center;
  }
  header nav .logo {
    margin: 0 0 0 0;
  }
  header nav .bag-container {
    position: relative;
    right: 0;
    top: 0;
  }
  header nav .bag-container .pokemon-count {
    right: 1.5em;
  }
  header nav#bag-nav .go-home {
    position: relative;
    right: 0%;
  }
  header nav#bag-nav h1 {
    margin-right: 0;
  }
  main .cards-container-chosen .card-chosen article {
    grid-template-columns: 20% 25% 36% 19%;
  }
  main .cards-container-chosen .card-chosen article .name {
    text-align: center;
    font-size: 0.8em;
  }
  main .cards-container-chosen .card-chosen article .img-container-bg {
    display: none;
  }
  main .cards-container-chosen .card-chosen article .stats {
    padding: 3px;
    font-size: 0.6em;
  }
  main .cards-container-chosen .card-chosen button {
    font-size: 0.5em;
  }
  main .cards-container .card article {
    grid-template-rows: 10% 60% 30%;
  }
  footer {
    font-size: 0.8em;
  }
}
